<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SimulatorContext" connectionString="metadata=res://*/Database.SimulatorModel.csdl|res://*/Database.SimulatorModel.ssdl|res://*/Database.SimulatorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\HERMANSQL;initial catalog=WarehouseSim;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PlcContext" connectionString="metadata=res://*/Siemens.PlcModel.csdl|res://*/Siemens.PlcModel.ssdl|res://*/Siemens.PlcModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\HERMANSQL;initial catalog=WarehouseSim;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>